%h1 Listing events

%table
  %thead
    %tr
      %th Agent
      %th Title
      %th Begin time
      %th End time
      %th Short description
      %th Description
      %th
      %th
      %th

  %tbody
    - @events.each do |event|
      %tr
        %td= event.agent_id
        %td= event.title
        %td= event.begin_time
        %td= event.end_time
        %td= event.short_description
        %td= event.description
        %td= link_to 'Show', event
        %td= link_to 'Edit', edit_event_path(event)
        %td= link_to 'Destroy', event, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Event', new_event_path
